<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ website_title }} - {% block pagetitle %}Welcome{% endblock %}</title>
<link href='http://fonts.googleapis.com/css?family=Gudea:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ CSS_ROOT }}main.css" />
{{ GENERATOR_META|raw }}
	
	{% block extra_headers %}
	{% endblock %}
</head>
<body>
<div class="container">
  <div class="banner">
    <div class="menu">{{ DROPDOWN_MENU|raw }}</div>
  </div>
  <div class="content">{% block content %}some content{% endblock %}</div>
  <div class="footer">Brian Duggan's Experience, Leadership, Innovative Ideas and Solid Work Ethic Make Him The Best Qualified for Clerk</div>
</div>
</body>
</html>