<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{{ website_title }} - {% block pagetitle %}Welcome{% endblock %}</title>

	<link rel="stylesheet" href="{{ CSS_ROOT }}main.css" />
	{{ GENERATOR_META|raw }}
	
	{% block extra_headers %}
	{% endblock %}
</head>
<body>
	{% if can_edit %}
	<div style="height:100px;">This space is required by the editor</div>
	{% endif %}
	<div id="content">
		{{ DROPDOWN_MENU|raw }}
		<hr />
		{% block content %}
		content goes here
		{% endblock %}
	</div>
</body>
</html>