{% extends 'base.html' %}

{% block extra_headers %}

<style>

.form .h
{
	vertical-align: top;
	font-weight: bold;
}

.form input[type="text"]
{
	width: 200px;
}

.form textarea[name="location_address"], .form textarea[name="description"]
{
	width: 200px;
	height: 50px; 
}

</style>

<script type="text/javascript">
	
function valid() {
	var errs = [];

	if(document.forms["mform"].submitter_name.value == "")
	{
		errs.push("Submitter name required.");
	}

	if(document.forms["mform"].submitter_phone.value == "")
	{
		errs.push("Phone number required.");
	}

	if(errs.length != 0)
	{
		alert(errs.join("\n"));
		return false;
	}
}

</script>

<script type="text/javascript" src="{{ URL_ROOT }}lib/ckeditor/ckeditor.js"></script>

{% endblock %}

{% block content %}

<h1>Submit Event</h1>

<span style="color:green">{{ msg }}</span>
<span style="color:red">{{ err }}</span>
<form id="mform" name="mform" method="post" enctype="multipart/form-data" onsubmit="return valid();">

<table class="form">
	<tr>
		<td class="h">Submitter Name</td>
		<td><input name="submitter_name" id="submitter_name" value="" type="text" /></td>
	</tr>
	<tr>
		<td class="h">Submitter Phone</td>
		<td><input name="submitter_phone" id="submitter_phone" value="" type="text" /></td>
	</tr>
	<tr>
		<td class="h">Submitter Email</td>
		<td><input name="submitter_email" id="submitter_email" value="" type="text" /></td>
	</tr>
	<tr>
		<td class="h">Event Title</td>
		<td><input name="event_title" id="event_title" value="" type="text" /></td>
	</tr>
	<tr>
		<td class="h">Caption</td>
		<td><input name="caption" id="caption" value="" type="text" /></td>
	</tr>
	<tr>
		<td class="h">Image</td>
		<td><input name="image" id="image" type="file" /></td>
	</tr>
	<tr>
		<td class="h">Start Date</td>
		<td><input name="start_date" id="start_date" value="" type="text" /> MM/DD/YYYY</td>
	</tr>
	<tr>
		<td class="h">Start Time</td>
		<td><input name="start_time" id="start_time" value="" type="text" /> HH:MM PM/AM</td>
	</tr>
	<tr>
		<td class="h">End Date</td>
		<td><input name="end_date" id="end_date" value="" type="text" /> MM/DD/YYYY</td>
	</tr>
	<tr>
		<td class="h">End Time</td>
		<td><input name="end_time" id="end_time" value="" type="text" /> HH:MM PM/AM</td>
	</tr>
	<tr>
		<td class="h">Type</td>
		<td><select name="typekey" id="typekey">{{ types|raw }}</select></td>
	</tr>
	<tr>
		<td class="h">Location</td>
		<td><input name="location" id="location" value="" type="text" /></td>
	</tr>
	<tr>
		<td class="h">Location Address</td>
		<td><textarea name="location_address" id="location_address"></textarea></td>
	</tr>
	<tr>
		<td class="h">Description</td>
		<td><textarea name="description" id="description"></textarea></td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="submit" value="Submit" />
		</td>
	</tr>
</table>

</form>

{% if 1 == 2 %}
<script type="text/javascript">
	CKEDITOR.config.contentsCss = "{{ CSS_ROOT }}editor.css";
	CKEDITOR.config.keystrokes = 
	[
		[ CKEDITOR.CTRL + 83 /*S*/, 'save' ] //save for the win!
	]
	CKEDITOR.replace( 'description' );
</script>
{% endif %}

{% endblock %}