{% extends 'base.html' %}

{% block extra_headers %}

{% endblock %}

{% block content %}
<h1>Contact</h1>
<div>
{{ message }}
<table>
	<tr>
		<td align="center" valign="top">
			<img src="{{ IMAGE_ROOT }}support.jpg" alt="" /><br/>
			<b>The Detroit Adventure</b><br/>
			<b>Phone:</b> 734-634-1576<br/>
		</td>
		<td width="" align="left" valign="top">
			<form method="post">
			<table style="position:relative;top:15px;">
				<tr>
					<td><b>Name:</b></td>
					<td><input style="width: 200px;" name="name" type="text" /></td>
				</tr>
				<tr>
					<td><b>Email:</b></td>
					<td><input style="width: 200px;" name="email" type="text" /></td>
				</tr>
				<tr>
					<td colspan="2">
						<b>Message:</b><br/>
						<textarea style="width: 248px; height: 67px;" name="message"></textarea>
					</td>
				</tr>
				<tr>
					<td><input type="submit" value="Send" /></td>
				</tr>
			</table>
			</form>
		</td>
	</tr>
</table>
</div>
{% endblock %}