{% extends 'base.html' %}

{% block extra_headers %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{{ URL_ROOT }}lib/fancy/jquery.fancybox.js?v=2.1.4"></script>
<link rel="stylesheet" type="text/css" href="{{ URL_ROOT }}lib/fancy/jquery.fancybox.css?v=2.1.4" media="screen" />



{% endblock %}

{% block content %}
<h1>{{ header }}</h1>
<table style="width:50%">
{% for event in events %}
<tr>
	<td>
		{% if event.start_date %}
			{{ event.start_date }}
		{% else %}
			&nbsp;
		{% endif %}
	</td>
	<td>
		<a class="fancybox fancybox.iframe" href="{{ URL_ROOT }}event/{{ event.ID }}/">
		{% if event.event_title %}
			{{ event.event_title }}
		{% else %}
			No Title
		{% endif %}
		</a>
	</td>
</tr>
{% else %}
<tr><td><h3>No Events Found</h3></td></tr>
{% endfor %}
</table>

<script type="text/javascript">
	
$('.fancybox').fancybox({
	beforeLoad : function() {         
        this.width  = 800;  
        this.height = 600;
    },
    autoSize : false,
});

</script>

{% endblock %}