<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{{ event.event_title }}</title>
	
	{% if event.lat != "" %}
	<script type="text/javascript"
	    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAHgK8cfMOQz-nwSPTMyVMN4CgkVhxaGgo&sensor=false">
	</script>

	<script type="text/javascript" src="{{ DBG.HTML_DIV_js_path }}/html_div.js"></script>
	<link rel="stylesheet" type="text/css" media="screen" href="{{ DBG.HTML_DIV_css_path }}/html_div.css" />

	<script type="text/javascript">
	  var lastOpen = null;

	  function initialize() {
	    var mapOptions = {
	      center: new google.maps.LatLng({{ event.lat }}, {{ event.long }}),
	      zoom: 10,
	      mapTypeId: google.maps.MapTypeId.ROADMAP
	    };
	    var map = new google.maps.Map(document.getElementById("map-canvas"),
	        mapOptions);

	    // start infonode
	    var marker{{ event.ID }} = new google.maps.Marker({
	      position: new google.maps.LatLng({{ event.lat }}, {{ event.long }}), 
	      map: map, 
	      title:"{{ event.event_title }}"
	    });

	    var infowindow{{ event.ID }} = new google.maps.InfoWindow({
	      content: "<b>{{ event.event_title }}</b><br/>" + 
	              "{{ event.location_address|raw }}<br/>" + 
	              "<a target='_blank' href=\"https://maps.google.com/maps?daddr={{ event.lat }},{{ event.long }}&hl=en\">get directions</a>",
	       maxWidth: 200
	              //"<a href=\"{{ URL_ROOT }}directory/{{ event.ID }}/\">view full profile</a>"
	    });

	    google.maps.event.addListener(marker{{ event.ID }}, 'click', function() {
	      if(lastOpen != null)
	        lastOpen.close();
	      lastOpen = infowindow{{ event.ID }};
	      infowindow{{ event.ID }}.open(map,marker{{ event.ID }})
	    });
	    // end infonode
	  }

	  google.maps.event.addDomListener(window, 'load', initialize);
	</script>
	{% endif %}

	<style>
	#t tr {
		vertical-align: top;
	}
	</style>
</head>
<body>

	<div style="float:right;">
		{% if event.img_loc %}
			<img style="width:317px;height:auto;" src="{{ URL_ROOT }}{{ event.img_loc }}" />
		{% endif %}
		{% if event.lat %}
			<div id="map-canvas" style="border: 2px solid black;width:317px;height:317px;margin-top:10px;"></div>
		{% endif %}
	</div>
<h2>{{ event.event_title }}</h2>

<table id="t">
	<tr>
		<td>Start Date</td>
		<td>{{ event.start_date }}</td>
	</tr>
	{% if event.start_time %}
	<tr>
		<td>Start Time</td>
		<td>{{ event.start_time }}</td>
	</tr>
	{% endif %}
	{% if event.end_date %}
	<tr>
		<td>End Date</td>
		<td>{{ event.end_date }}</td>
	</tr>
	{% endif %}
	{% if event.end_time %}
	<tr>
		<td>End Time</td>
		<td>{{ event.end_time }}</td>
	</tr>
	{% endif %}
	<tr>
		<td>Location</td>
		<td>{{ event.location }}</td>
	</tr>
	<tr>
		<td>Location Address</td>
		<td>{{ event.location_address|raw }}</td>
	</tr>
</table>

<p>{{ event.description|raw }}</p>

</body>
</html>