{% extends 'nbase.html' %}

{% block extra_headers %}

{% endblock %}

{% block ncontent %}
		<div id="carousel">
			<img style="width: 1024px; height: 232px;" id="carousel-img" src="{{ STATIC_ROOT }}images/img.jpg" alt="" />
			<img src="{{ STATIC_ROOT }}images/text_bg.png" alt="" id="carousel-img" class="text-bg">
			<div id="carousel-text">
				<strong data-field="header">Highlight Header</strong><br/>
				<div data-field="body">
					<p>
						This is a clip of a bigger news article or highlight for an upcoming event or new business -- etc. 
					</p>
				</div>
				<a data-field="url" href="#">Click to read more.</a>
			</div>
			<div id="carousel-links"><!-- <a class="active" href="#">&bull;</a> <a href="#">&bull;</a> <a href="#">&bull;</a> --></div>
		</div>

		<img class="backimg" src="{{ STATIC_ROOT }}images/backgrounds_bot.jpg" />
		<div id="calendar">
			<div id="cal"></div>
			<img src="{{ STATIC_ROOT }}images/calendar_wrap.png" alt="" id="cal-wrap" />
		</div>
		<script src="{{ URL_ROOT }}lib/lightbox/js/jquery-1.7.2.min.js"></script>
		<script language="javascript">
		<!--
		// fill the month table with column headings
var url_root = "{{ URL_ROOT }}"

var carouselItems = [
/*	{
		"header": "Header 1",
		"body": "<p>This is a clip of a bigger news article or highlight for an upcoming event or new business -- etc. 1</p>",
		"url": "{{ URL_ROOT }}page/1/",
		"img": "{{ STATIC_ROOT }}images/img.jpg"
	},
	{
		"header": "Header 2",
		"body": "<p>This is a clip of a bigger news article or highlight for an upcoming event or new business -- etc. 2</p>",
		"url": "{{ URL_ROOT }}page/2/",
		"img": "{{ STATIC_ROOT }}images/img.jpg"
	},
	{
		"header": "Header 3",
		"body": "<p>This is a clip of a bigger news article or highlight for an upcoming event or new business -- etc. 3</p>",
		"url": "{{ URL_ROOT }}page/3/",
		"img": "{{ STATIC_ROOT }}images/img.jpg"
	},
	{
		"header": "Header 4",
		"body": "<p>This is a clip of a bigger news article or highlight for an upcoming event or new business -- etc. 4</p>",
		"url": "{{ URL_ROOT }}page/4/",
		"img": "{{ STATIC_ROOT }}images/img.jpg"
	},*/
	{% for item in carousel %}
	{
		"header": "{{ item.header|raw }}",
		"body": "<p>{{ item.body|raw }}</p>",
		"url": "{{ item.url|raw }}",
		"img": "{{ item.img|raw }}"
	},
	{% endfor %}
];
		</script>

		<script src="{{ STATIC_ROOT }}js/main.js?v=2"></script>
		<script language="javascript">
		
carouselInit();

selectCarouselItem(0);
fill_table(8,2013)
		</script>
{% endblock %}