{% extends 'base.html' %}

{% block extra_headers %}

<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAHgK8cfMOQz-nwSPTMyVMN4CgkVhxaGgo&sensor=false">
</script>

<script type="text/javascript">
  var lastOpen = null;
  var allSubs = [{{ all_subcats }}];

  function doGet()
  {
    var subs = [];
    for(var i = 0; i < allSubs.length; i++)
    {
      var elem = document.getElementById("chk" + allSubs[i]);
      if(elem != null && elem.checked)
      {
        subs.push(elem.value);
      }
    }
    window.location = "{{ URL_ROOT }}map/?subcats=" + subs.join(",");
  }

  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(42.3314270, -83.04575380),
      zoom: 10,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);

    // start infonode
    {% for l in locations %}
    var marker{{ l.ID }} = new google.maps.Marker({
      position: new google.maps.LatLng({{ l.lat }}, {{ l.long }}), 
      map: map, 
      title:"{{ l.name }}"
    });

    var infowindow{{ l.ID }} = new google.maps.InfoWindow({
      content: "<b>{{ l.name }}</b><br/>" + 
              "{{ l.address }}<br/>" + 
              "{{ l.city }} " + "{{ l.state }}, " + "{{ l.zip }}<br/>" + 
              "<a target='_blank' href=\"https://maps.google.com/maps?daddr={{ l.lat }},{{ l.long }}&hl=en\">get directions</a>"
              //"<a href=\"{{ URL_ROOT }}directory/{{ l.ID }}/\">view full profile</a>"
    });

    google.maps.event.addListener(marker{{ l.ID }}, 'click', function() {
      if(lastOpen != null)
        lastOpen.close();
      lastOpen = infowindow{{ l.ID }};
      infowindow{{ l.ID }}.open(map,marker{{ l.ID }})
    });
    {% endfor %}
    // end infonode
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

{% endblock %}

{% block content %}

<h1>Interactive Map</h1>

<table style="width:100%">
  <tr>
    <td style="width:30%" valign="top">
      {% for cat in cats %}
      <h4>{{ cat.name }}</h4>
        {% for subcat in cat.subcats %}
        <input {{ subcat.checked }} type="checkbox" value="{{ subcat.ID }}" id="chk{{ subcat.ID }}" /> <label for="chk{{ subcat.ID }}" style="display: inline">{{ subcat.name }}</label><br/>
        {% endfor %}
      {% endfor %}
      <button onclick="doGet()">Reload</button>
    </td>
    <td style="width:70%"><div id="map-canvas" style="width: 100%; height: 400px; border: 2px solid black;"></div></td>
  </tr>
</table>
{% endblock %}