<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<title>{{ website_title }} - {% block pagetitle %}Welcome{% endblock %}</title>

	<link rel="stylesheet" href="{{ CSS_ROOT }}main.css" />
	{{ GENERATOR_META|raw }}
	
	<script type="text/javascript" src="{{ DBG.HTML_DIV_js_path }}/html_div.js"></script>
	<link rel="stylesheet" type="text/css" media="screen" href="{{ DBG.HTML_DIV_css_path }}/html_div.css" />

	{% block extra_headers %}
	{% endblock %}
</head>
<body>
	<div id="content">
		<img class="backimg" src="{{ STATIC_ROOT }}images/backgrounds_top.jpg" /><br/>

		<div id="nav">
			<a href="{{ URL_ROOT }}" id="logo" border="0"><img border="0" src="{{ STATIC_ROOT }}images/logo2.png" alt=""  /></a>
			<div id="weather">... Loading Weather</div>
			<div class="menu">
				<ul>
					<!-- <li><a href="#">TRAVEL</a>
						<ul>
							<li><a href="#">Other Item</a></li>
							<li><a href="#">Other Item</a></li>
							<li><a href="#">Other Item</a></li>
						</ul>
					</li>
					<li><a href="#">PLAY</a></li>
					<li><a href="#">LEARN</a></li>
					<li><a href="#">EXPERIENCE</a></li>
					<li><a href="#">CONTACT</a></li> -->
					{{ DROPDOWN_MENU|raw }}
				</ul>
			</div>
		</div>

		{% block ncontent %}
		content goes here
		{% endblock %}
		
	</div>
</body>
</html>