{% extends 'base.html' %}


{% block ncontent %}

<div id="inner-content">

{% block content %}
test
{% endblock %}

</div>

<script type="text/javascript">
	var url_root = "{{ URL_ROOT }}"
</script>

<script src="{{ URL_ROOT }}lib/lightbox/js/jquery-1.7.2.min.js"></script>
<script src="{{ STATIC_ROOT }}js/main.js"></script>

{% endblock %}