{% extends 'base.html' %}

{% block content %}
<h1>Carousel</h1>

{% for item in item_list %}
	<p><a href="{{ URL_ROOT }}admin/carousel/{{ item.ID }}/">Edit Carousel Item {{ item.ID }}</a></p>
{% endfor %}

{% endblock %}