{% extends 'base.html' %}

{% block extra_headers %}
<style>

.pageform .h
{
	vertical-align: top;
}

#content .textarea
{
	width: 600px;
}

fieldset
{
	width: 661px;
}

#frm textarea
{
	width: 400px;
}

.pageform input[type="text"], .pageform select
{
	width: 300px;
}
</style>
{% endblock %}

{% block content %}
<h1>Edit Carousel Item</h1>
<span style="color: green">{{ message }}</span>
<form id="frm" method="post" class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="header">Header</label>
		<div class="controls">
			<input type="text" id="header" name="header" value="{{ header|raw }}" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="url">Url</label>
		<div class="controls">
			<input type="text" id="url" name="url" value="{{ url|raw }}" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="img">Image</label>
		<div class="controls">
			<a class="btn" id="img" name="img" href="{{ img|raw }}" target="_blank">View Image</a>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="body">Body</label>
		<div class="controls">
			<textarea id="body" name="body">{{ body|raw }}</textarea>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input class="btn" type="submit" value="Save" />
		</div>
	</div>
</form>
{% endblock %}