{% extends 'base.html' %}

{% block extra_headers %}

<script type="text/javascript">
	
function updateImage(id)
{
	document.getElementById("updateform_" + id).submit();
}

function moveUp(id)
{
	window.location = "?move=" + id + "&dir=" + "up";
}

function moveDown(id)
{
	window.location = "?move=" + id + "&dir=" + "down";
}

function deleteImage(id)
{
	if(confirm("Are you sure?"))
	{
		window.location = "?delete=" + id;
	}
}


</script>

<style>
	
.thmb
{
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 10px;
}

.img_rs
{
	margin-bottom: 10px;
}

</style>

{% endblock %}

{% block content %}
<h1>Edit Gallery</h1>
<div class="well">
<h4>Upload new image</h4>
<h4>Please make sure that the image size is less than 1MB</h4>
<form method="post" enctype="multipart/form-data" class="form-horizontal">
<input type="hidden" name="action" value="upload" />
<div class="control-group">
	<label class="control-label" for="caption">Caption</label>
	<div class="controls">
		<input id="caption" name="caption" type="text" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="image">Image</label>
	<div class="controls">
		<input name="image" id="image" type="file" />
		{% if err %}
		<br/><span class="text-error">{{ err }}</span>
		{% endif %}
	</div>
</div>
<div class="control-group">
	<div class="controls">
		<input type="submit" value="Submit" class="btn" />
	</div>
</div>

</form>

</div> <!-- end uploader -->

{% for image in images %}

<div class="img_rs">
	<a href="{{ URL_ROOT }}{{ image.imgloc }}"><img src="{{ URL_ROOT }}{{ image.imgloc }}" class="thmb" /></a>
	<form method="post" id="updateform_{{ image.ID }}" style="margin: 0px;" enctype="multipart/form-data">
	<!-- <input type="file" /><br/> -->
	<input type="text" name="caption" value="{{ image.caption }}" />
	<input type="hidden" name="action" value="edit" />
	<input type="hidden" name="id" value="{{ image.ID }}" />
	</form>
	<div class="btn-group">
		<button class="btn" onclick="updateImage({{ image.ID }});">Update</button>
		<button class="btn" onclick="moveUp({{ image.ID }});">Move Up</button>
		<button class="btn" onclick="moveDown({{ image.ID }});">Move Down</button>
		<button class="btn btn-warning" onclick="deleteImage({{ image.ID }});">Delete</button>
	</div>
</div>
<div style="clear: both;">&nbsp;</div>

{% endfor %}
{% endblock %}

{% block breadcrumbs %}<li><span class="divider">/</span> <a href="{{ URL_ROOT }}admin/galleries/">Galleries</a>{% endblock %}