{% extends 'base.html' %}

{% block extra_headers %}
<script type="text/javascript">

function editPage(id)
{
	var loc = "{{ URL_ROOT }}admin/page/" + id + "/";
	window.location = loc;
}

function moveUp(id)
{
	var loc = "{{ URL_ROOT }}admin/page/move/" + id + "/up/";
	window.location = loc;
}

function moveDown(id)
{
	var loc = "{{ URL_ROOT }}admin/page/move/" + id + "/down/";
	window.location = loc;
}

</script>

<style>
	/**
 * Nestable
 */

/* .dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; } */

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

/* .dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }
 */
/* .dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
} */
/* .dd-handle:hover { color: #2ea8e5; background: #fff; } */

/* .dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; } */
/* .dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; } */

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}
</style>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="{{ URL_ROOT }}templates/admin/js/jquery.nestable.js"></script>

<script>

function saveMenu() {
	var menuData = window.JSON.stringify($('#main-menu').nestable('serialize'));

	var form = document.createElement("form");
	form.setAttribute("method", "POST");
	
	var d = document.createElement("input");
	d.value = menuData;
	d.setAttribute("name", "json_data");

	form.appendChild(d);

	document.getElementsByTagName("body")[0].appendChild(form);
	
	form.submit();
}

</script>
{% endblock %}

{% block content %}

<h2>Pages</h2>

{{ pagemenu|raw }}

{% if CAN_ADD_PAGES %}
<a href="{{ URL_ROOT }}admin/page/">Add a page</a>
{% endif %}

<script>
	$('#main-menu').nestable({
		group: 1,
		maxDepth: 2,
		collapseBtnHTML: ""
	})

	$('#not-menu').nestable({
		group: 1,
		maxDepth: 1,
		collapseBtnHTML: ""
	})

    
</script>

<!-- <h2>Other</h2>

<ul>
	{% if HAS_MAIN_PAGE %}
	<li><a href="{{ URL_ROOT }}?edit=1">Edit Main Page</a></li>
	{% endif %}
	<li><a href="{{ URL_ROOT }}admin/events">Events</a></li>
	<li><a href="{{ URL_ROOT }}admin/directory/">Directory</a></li>
	<li><a href="{{ URL_ROOT }}admin/inventory/">Inventory</a></li>
	<li><a href="{{ URL_ROOT }}admin/config/">Configuration Settings</a></li>
	<li><a href="{{ URL_ROOT }}admin/validate/">Validate Install</a></li>
	<li><a href="{{ URL_ROOT }}admin/logout/">Logout</a></li>
</ul> -->
{% endblock %}

