{% extends 'directory_base.html' %}

{% block extra_headers %}

<style>

.form .h
{
	vertical-align: top;
	font-weight: bold;
}

</style>

<script>

/*var subCats = [
	[
		"Sub Category 1",
		"Sub Category 2",
	],
	[
		"Sub Category 3",
	],
]*/

var subCats = new Object;

{{ json|raw }}

function catChanged()
{
	var obj = document.getElementById("cats");
	console.log(subCats[obj.value]);
	var subelem = document.getElementById("subcats");
	subelem.innerHTML = "";
	if(obj.value >= 0)
	{
		var sub = subCats[parseInt(obj.value)];
		for (var i = 0; i < sub.length; i++) 
		{
			var op = document.createElement("option");
			op.text = sub[i][1];
			op.value = sub[i][0];
			subelem.add(op, null);
		}
	}
}

function preSub()
{
	// reset error docs
	document.getElementById("cats_err").innerHTML = "";
	document.getElementById("sub_cats_err").innerHTML = "";
	document.getElementById("name_err").innerHTML = "";


	var has_err = false;
	if(document.getElementById("cats").value == "-1")
	{
		has_err = true;
		document.getElementById("cats_err").innerHTML = "Please select a category";
	}

	if(document.getElementById("subcats").value == "")
	{
		document.getElementById("sub_cats_err").innerHTML = "Please select a sub-category";
	}

	if(document.getElementById("name").value == "")
	{
		has_err = true;
		document.getElementById("name_err").innerHTML = "Please enter a name";
	}
	
	if(has_err)
	{
		alert("Validation failed, please check data");
		return false;
	}
}

function resetLatLong()
{
	document.getElementById("lat").value = "";
	document.getElementById("long").value = "";
	return false;
}

function pasteFromGoogle()
{
	var coords = prompt("Coordinates from google");
	var parts = coords.split(",");
	document.getElementById("lat").value = parts[0];
	document.getElementById("long").value = parts[1];
	return false;
}

</script>

{% endblock %}

{% block content %}
<h1>Edit Location</h1>
<form method="post" onsubmit="return preSub();" enctype="multipart/form-data" class="form-horizontal">
<input type="hidden" id="category" name="category" value="" />
<input type="hidden" id="sub_category" name="sub_category" value="" />
<div class="control-group">
	<label class="control-label" for="cats">Category</label>
	<div class="controls">
		<select name="category" id="cats" onchange="catChanged();">
			{{ cats|raw }}
		</select> <span class="text-error" id="cats_err"></span>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="subcats">Sub-Category</label>
	<div class="controls">
		<select name="subcategory" id="subcats">{{ subcats|raw }}</select>
		<span class="text-error" id="sub_cats_err">
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="name">Name</label>
	<div class="controls">
		<input id="name" type="text" name="name" value="{{ name }}" /> <span class="text-error" id="name_err"></span>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="address">Address</label>
	<div class="controls">
		<input type="text" id="address" name="address" value="{{ address }}" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="address_1">Address 2</label>
	<div class="controls">
		<input type="text" id="address_1" name="address_1" value="{{ address_1 }}" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="city">City</label>
	<div class="controls">
		<input type="text" id="city" name="city" value="{{ city }}" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="state">State</label>
	<div class="controls">
		<input type="text" id="state" name="state" value="{{ state }}" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="zip">Zip</label>
	<div class="controls">
		<input type="text" id="zip" name="zip" value="{{ zip }}" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="phone">Phone</label>
	<div class="controls">
		<input type="text" id="phone" name="phone" value="{{ phone }}" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="fax">Fax</label>
	<div class="controls">
		<input type="text" id="fax" name="fax" value="{{ fax }}" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="email">Email</label>
	<div class="controls">
		<input type="text" id="email" name="email" value="{{ email }}" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="contact_person">Contact Person</label>
	<div class="controls">
		<input type="text" id="contact_person" name="contact_person" value="{{ contact_person }}" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="contact_phone">Contact Phone</label>
	<div class="controls">
		<input type="text" id="contact_phone" name="contact_phone" value="{{ contact_phone }}" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="website">Website</label>
	<div class="controls">
		<input type="text" id="website" name="website" value="{{ website }}" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="hours">Hours</label>
	<div class="controls">
		<input type="text" id="hours" name="hours" value="{{ hours }}" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="image">Image</label>
	<div class="controls">
		<input name="image" id="image" type="file" />
		{% if img_loc %}
		<br/>{{ img_loc }}
		{% endif %}
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="description">Description</label>
	<div class="controls">
		<textarea id="description" name="description">{{ description|raw }}</textarea>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="lat">Lat</label>
	<div class="controls">
		<div class="input-append">
			<input type="text" name="lat" id="lat" value="{{ lat }}" /> <button class='btn' onclick="return resetLatLong();">Reset</button> <button class='btn' onclick="return pasteFromGoogle();">Paste From Google</button>
		</div>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="long">Long</label>
	<div class="controls">
		<input type="text" name="long" id="long" value="{{ long }}" />
	</div>
</div>

<div class="control-group">
	<div class="controls">
		<input type="submit" value="Submit" class="btn" />
	</div>
</div>

</form>

{% endblock %}