{% extends 'base.html' %}

{% block content %}

<div class="hero-unit">
	<h1>Hello, {{ ADMIN_USER }}</h1>
	Welcome to your Content Management System. You can use the sidebar to the left to access your administrative tasks. 
	You can also use the links below to learn more about your new Content Management System.
</div>

<ul>
	<li><a href="#">Editing pages</a></li>
	<li><a href="#">Editing events</a></li>
	<li><a href="#">Editing the directory</a></li>
</ul>

{% endblock %}