body{
	margin:0px;
	font-family:Verdana, Geneva, sans-serif;
}
/*p
{
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 5px 0px;
}

table p
{
	margin: 0px;
	padding: 0px;
}*/

h1, h2, h3, h4, h5, h6
{
	margin-top: 0px;
}

.container{
	width: 1024px;
	margin: 0 auto;
}

.banner {
	background-image: url("../images/banner.png");

	height: 254px;

	font-family: 'Gudea', sans-serif;
	font-weight: 700;

	position: relative;

	margin-bottom: 10px;
}

.menu {
	position: absolute;
	bottom: 0px;
	left: 0px;
	color: white;
}

.menu li{
	list-style:none;
	position:relative;
	top:15px;
	display:inline-block;
}

.menu a {
	padding-right: 20px;
	padding-left: 15px;
	color: white;
	text-decoration: none;
	font-size: 30px;
	line-height: 52px;
}

.menu a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	color: #33517e;
	margin: 0px;
	padding: 0px;
}

h1 {
	margin-left: 25px;
}

h2 {
	border-bottom: solid #33517e 4px;
	margin-top: -13px;
}

.footer {
	background-image: url("../images/footer.png");
	clear: both;
	height: 58px;
	line-height: 69px;
	color: white;
	text-align: center;
}

.footer a {
	color: white;
}

.content{
	width:994px;
	margin:15px;
}