#content
{
	width: 1024px;
	margin: 0 auto;
	border: solid black 2px;
}

p
{
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 5px 0px;
}

table p
{
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6
{
	margin-top: 0px;
}