body
{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

	background-color: white;
	color: #304b48;
}

p
{
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 5px 0px;
}

table p
{
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6
{
	margin-top: 0px;
}

a
{
	color: black;
	text-decoration: underline;
}

a:hover
{
	color: #304b48;
	text-decoration: underline;
}