body
{
	background-color: #383334;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	/* font-family: Verdana, Geneva, sans-serif; */
}

#content
{
	width: 1024px;
	margin: 0 auto;
	position: relative;
}

#inner-content
{
	background-color: white;
	padding: 30px 30px 0 30px;
	color: #304b48;
}

#inner-content h1
{
	text-align: right;
}

#inner-content a
{
	color: black;
	text-decoration: underline;
}

#inner-content a:hover
{
	color: #304b48;
	text-decoration: underline;
}

#nav
{
	background-color: #4e494a;
	width: 100%;
	height: 33px;
	margin-bottom: 5px;
	position: relative;
}

#logo
{
	position: absolute;
	top: -54px;
	left: 21px;
	z-index: 10;
}

#carousel
{
	position: relative;
}

#carousel-links
{
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 3em;
	color: white
}

#carousel-links a
{
	cursor: pointer;
	text-decoration: none;
	color: white;
	padding: 0;
	margin: 0;
}

#carousel-links a.active
{
	color: #ffff66;
}

/* FFFF66 */

#carousel  img.text-bg
{
	position: absolute;
	height: 232px;
	width: auto;
	top: 0px;
	right: 0px;
}

#carousel-text
{
	position: absolute;
	top: 56px;
	right: 0px;

	width: 320px;
	height: 177px;

	color: white;
}

#carousel-text a
{
	color: #66CC99;
	text-decoration: none;
}

#carousel-text a:hover
{
	color: #66CC99;
	text-decoration: underline;
}

#carousel-text strong
{
	font-size: 1.1em;
}

p
{
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 5px 0px;
}

table p
{
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6
{
	margin-top: 0px;
}

.backimg
{
	margin: 0;
	padding: 0;
}

#cal
{
	color: white;
	position: absolute;
	bottom: 32px;
	right: 18px;
	z-index: 10;
}

#cal-wrap
{
	position: absolute;
	bottom: 26px;
	right: 43px;
}

#cal a
{
	color: white;
	text-decoration: none;
}

#cal a:hover
{
	text-decoration: underline;
}

#weather
{
	position: absolute;
	bottom: 33px;
	left:373px;
	color: white;
}

#weather span
{
	font-size: 2em;
	color: #e9e466;
}

/* BEGIN MENU STYLE */

div.menu
{
    border:none;
    border:0px;
    margin:0px;
    padding:0px;
    font-size:15px;
    font-weight:bold;
    z-index:100;
    color: white;
    margin-left: 345px;
}
div.menu ul
{
    background-color:#4e494a;
    height:33px;
    list-style:none;
    margin:0;
    padding:0;
}
div.menu li
{
    float:left;
    
    position: relative;
}
div.menu li a
{
    background-color:#4e494a;
    color:white;
    display:block;
    font-weight:normal;
    line-height:33px;
    margin:0px;
    padding: 0 20px 0 20px;
    text-align:center;
    text-decoration:none;
}
div.menu li a:hover, div.menu ul li:hover a 
{
    color: white;
    background-color: #615d5e;

    z-index:100;
}
div.menu li a:hover
{
    text-decoration: none;;
}
div.menu li ul
{
    background:#383334;
    display:none;
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    width:160px;
    z-index:200;
    left: 0px;
}
div.menu li:hover ul
{
    display:block;
}
div.menu li li
{
    display:block;
    float:none;
    margin:0px;
    padding:0px;
    width:160px;
}
div.menu li:hover li a
{
    background:none;
}
div.menu li ul a
{
    display:block;
    height:33px;
    font-size:16px;
    font-style:normal;
    margin:0px;
    padding:0px 10px 0px 15px;
    text-align:left;
}
div.menu li ul a:hover, div.menu li ul li:hover a
{
    background:#899b5f;
    border:0px;
    text-decoration:none;
    z-index: 101;
}
div.menu p
{
    clear:left;
}

/* END MENU STYLE */